.btn
  heading-4()
  padding 13px 26px
  border-radius 10px
  appearance none
  border 0
  font-family inherit
  background-color transparent
  &.primary
    background-color brand-purple
    color brand-white

.tag
  body-3()
  display inline-block
  color brand-blue
  background-color brand-grey
  padding 6px 16px
  border-radius 10px
  cursor pointer
  user-select none
  margin 0 8px 14px 0
  transition color 0.3s ease-in-out, background-color 0.3s ease-in-out
  &:hover
    background-color brand-light-blue
  &.active
    color brand-white
    background-color brand-blue
