.feedback-form-wrapper
  max-width 540px
  margin 0 auto
  .feedback-form
    background-color brand-white
    padding 52px 42px 40px
    border-radius 10px
    position relative
    .decoration
      display inline-block
      line-height 0
      position absolute
      left 42px
      top -28px
    h1
      heading-1()
      color brand-light-navy
      margin-bottom 40px
    input, textarea
      margin-bottom 24px
    .action
      display flex
      align-items center
      justify-content flex-end
      gap 16px
      .spacer
        flex-grow 1
