@import "elements.styl"

*
  margin 0
  padding 0

html
  font-size 14px
  body
    font-family 'Jost', sans-serif
    background-color brand-light-grey

@media screen and (max-width: 768px)
  html
    font-size 12px
