brand-purple = #AD1FEA
brand-blue = #4661E6
brand-sky-blue = #62BCFA
brand-light-blue = #CFD7FF
brand-navy = #373F68
brand-light-navy = #3A4374
brand-lighter-navy = #647196
brand-white = #FFFFFF
brand-black = #000000
brand-grey = #F2F4FF
brand-light-grey = #F7F8FD
brand-orange = #F49F85
brand-red = #D73737
